/* Novruz Amirov: 150200903
   Software Engineerin - BLG 411E - 2023/2024 - Semester Project
   App.css file -> for designing specifically in addition to antd library
*/

.container {
  display: flex;
  flex-direction: column; /* Change from 'row' to 'column' */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.signin-image {
  background-image: url('../public/bee-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}

.signin-form {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.radio-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 }
 
 .radio-btn input[type='radio'] {
  display: none;
 }
 
 .radio-btn label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 10px;
  color: #333;
 }
 
 .radio-btn label:before,
 .radio-btn label:after {
  content: '';
  position: absolute;
  border-radius: 50%;
 }
 
 .radio-btn label:before {
  height: 20px;
  width: 20px;
  background: #f8f8f8;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
 }
 
 .radio-btn input[type='radio']:checked + label:before {
  background: #F1DB11;
  box-shadow: 0 0 0 4px #ffffff;
 }
 
 .radio-btn label:after {
  height: 10px;
  width: 10px;
  background: #F1DB11;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.1s;
 }
 
 .radio-btn input[type='radio']:checked + label:after {
  opacity: 1;
 }
 
 form input[type='email'],
 form input[type='text'],
 form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
 }
 
 form button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F1DB11;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
 }
 
 form button[type='submit']:hover {
  background-color: #e0a800;
 }
 
 form button[type='submit']:disabled {
  background-color: #ddd;
  cursor: not-allowed;
 }

 .employee-signup-link {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #F1DB11;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.employee-signup-link:hover {
  background-color: #e0a800;
}

.adminPage {
  display: flex;
  height: 100vh;
}

.adminPage .right-content .lower-content{
  border: 2px solid red;
  width: 100%;
  overflow: auto;
}

.adminPage .right-content .lower-content td{
  text-align: center;
}

.adminPage .right-content .lower-content th{
  text-align: center;
}

.left-sidebar {
  width: 20%;
  background-color: #383D47;
  padding: 20px;
}

.right-content {
  width: 80%;
  padding: 20px;
}

.greetings {
  margin-bottom: 20px;
}

.brand {
  font-size: 1.5em;
}

.menu-stock-header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.add-update-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.left-sidebar {
  width: 20%;
  background-color: #383D47;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.right-content {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  background-color: #F1DB11;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button::before {
  content: '\2190'; /* Unicode character for left arrow */
  margin-right: 8px;
  font-family: 'Arial', sans-serif;
}

.back-button:hover {
  background-color: #e0a800;
}

.add-coffee-header {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.add-coffee-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-coffee-form input,
.add-coffee-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.add-coffee-form button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F1DB11;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-coffee-form button:hover {
  background-color: #e0a800;
}

.menu-stock-header {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu-stock-header:hover {
  background-color: #ddd;
}

.menu-stock-header.active {
  background-color: #F1DB11; 
  color: white; 
  border: 2px solid #F1DB11; 
}

.modify-stock{
  width: 100%;
}

.modify-stock form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modify-stock form input{
  width: 100px;
  margin-right: 20px;
}

.modify-stock form button{
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.modify-stock form .ant-form-item {
  width: 30%;
}

.modify-stock form .ant-row label:first-child{
  margin-right: 100%;
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.modify-stock form .ant-row {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.exit-account{
  overflow: auto;
  height: 70px;
  margin-top: 40vh;
  background-color: red;
}

.exit-account h4{
  font-size: 15px;
}

.exit-account:hover{
  background-color: orange;
}

.updateCoffee{
  display: flex;
}

#addCoffeeForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#addCoffeeForm .ant-form-item{
  width: 45%;
  margin: 10px;
}

#addCoffeeForm .ant-form-item .ant-col{
  font-size: 20px;
  font-weight: bold;
}

#addCoffeeForm .ant-form-item .ant-col button{
  width: 100%;
  height: 100%; 
}

.employeePage{
  display: flex;
  height: 100vh;
}

.updateStatus{
  display: flex;
  height: 100vh;
}

.right-content{
  overflow: auto;
  width: 100%;
}

.orders{
  border: 4px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders span{
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.order{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid green;
  width: 90%;
  margin: 5px;
}

.order-row{
  border: 2px solid red;
}

.prod-name{
  width: 20vw;
  font-size: 15px;
  font-weight: bold;
}

.update-status-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.update-status-product{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.update-status-product span{
  border: 2px solid red;

}